.content {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 200px;
  width: 75%;
  z-index: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.col-md-6 {
  flex: 0 0 50%;
  padding: 5px;
}

.form-control {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  transition: border-color 0.3s ease-in-out;
}

.form-control:hover {
  border-color: #666;
}

.btn-primary {
  margin-top: auto;
  align-self: flex-end;
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.dropdown {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;

  width: 400px;
  max-height: 200px;
  overflow-y: auto;
}

.dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  color: black;
}

.dropdown li:hover {
  background-color: #f0f0f0;
}

@media (max-width: 768px) {
  .content {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 200px;
    width: 60%;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .row {
    margin-bottom: 10px;
  }

  .col-md-6 {
    flex: 0 0 100%;
    padding: 5px;
  }
}

@media (max-width: 775px) {
  .content {
    left: 5;
    width: 60%;
    padding: 10px;
    margin-top: 100px;
  }

  .row {
    margin-bottom: 10px;
  }

  .col-md-6 {
    flex: 0 0 100%;
    padding: 5px;
  }
}
