.header {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(rgba(8, 0, 58, 0.4), rgba(8, 0, 58, 0.4)),
    url("../assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  text-align: left;
  max-width: 800px;
  align-self: flex-start;
  margin-top: 70px;
}

.text h1 {
  font-size: 30px;
  font-width: 900px;
}

@media (max-width: 850px) {
  .text h1 {
    font-size: 40px;
  }
}

@media (max-width: 650px) {
  .text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
    font-size: 20px;
  }
}

@media (max-width: 650px) {
  .text h1 {
    font-size: 30px;
    max-width: 400px;
    margin: auto;
    font-size: 20px;
  }
}
