.booking-detail {
  width: 400px;
  height: auto;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 24px;
  margin-top: 143px;
  margin-left: 20px; 
}

p {
  /* color: #333; */
  margin-bottom: 8px;
}

.edit-button {
  background-color: #4caf50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-button:hover {
  background-color: #388e3c;
}
